OPENAI_API_KEY=sk-tu-clave-aqui

# LangSmith (opcional, recomendado para ver trazas)
LANGSMITH_TRACING=true
LANGCHAIN_CALLBACKS_BACKGROUND=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ia-agentic-workshop-<your-name>
